@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Special+Elite&display=swap');
$chWidth: 0.70em;
// Word length
$chCount: 9;
// Typing animation length
$typeDuration: 180ms * $chCount;

$color: #ffd1ad;
$bg: #000000;
$cursor: scale-color($color, $lightness: -60%);

.cajalaura {
  display: grid;
  place-items: center;
  min-height: 70vh;
  background-color: #000000;
  color: $color;
  font-family: 'Special Elite', cursive;
  text-shadow: 1px solid #ffd1ad;
}

h1 {
  font-size: 4.0rem;
  text-align: center;
  text-shadow: #c3ffec 1px 2px 5px;

}

.type-animation {
  // Required for keeping expected alignment
  display: inline-flex;
  // Start out by hiding via width and overflow
  width: 0;
  overflow: hidden;
  // Leave room for cursor!
  padding-right: 0.1em;
  position: relative;

  &:after {
    content: "";
    background: $bg;
    position: absolute;
    right: 0;
    top: -0.05em;
    bottom: -0.05em;
    width: 0.08em;
    border-right: 2px solid transparent;
  }

  &.animating {
    animation: type $typeDuration;
    // "stick" to last frame
    animation-fill-mode: forwards;
    animation-delay: 1s;

    &:after {
      $cursorLoopCount: ((($chCount + 1) * 180)/320) + 3;
      animation: cursor 320ms $cursorLoopCount ease-in-out;
    }
  }
}

@keyframes cursor {
  0%,
  100% {
    border-color: $bg;
  }
  50% {
    border-color: $cursor;
  }
  100% {
    width: 0;
  }
}

$frameSize: 100 / $chCount;
@keyframes type {
  @for $ch from 1 to $chCount {
    $frame: $ch * $frameSize;
    #{$frame}% {
      width: $ch * $chWidth;
    }
  }
  100% {
    width: ($chCount - 1) * $chWidth;
    padding-right: 0;
  }
}


