@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
.container3{
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: center;
	padding: 80px;
	margin: 70px;
	min-height: 800px;
	height: 100%;
}
.sobremi {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

.texto2{
	width: 70%;
	text-align: justify;

}
.texto2 h1{
	color: #ffd1ad;
	font-family: 'Staatliches', cursive;
	letter-spacing: 2px;
	font-size: 40px;
	text-shadow: 3px 3px 5px grey;
	text-align: justify;
}
.texto2 img{
	width: 30px;
}
.texto2 p{
	color: #ceffca;
	font-family: 'Staatliches', cursive;
	letter-spacing: 2px;
	font-size: 20px;
}
.habilidades{
	text-align: justify;
}
.habilidades h1{
	color: #ceffca;
	font-family: 'Staatliches', cursive;
	letter-spacing: 2px;
	font-size: 40px;
	text-shadow: 3px 3px 5px grey;
	text-align: justify;
}
.flores img{
	padding-top: 200px;
	background-color: black;

}
.hab{
	color: #ceffca;
	font-family: 'Staatliches', cursive;
	text-align: left;
	letter-spacing: 2px;
	padding: 10px;
	font-size: 20px;

}
progress[value] {
	max-width: 200px;
	width: 100%;
	height: 10px;
	appearance: none;
	color: #c3ffec;

}
progress::-moz-progress-bar{
	background:#c3ffec;
}
progress::-webkit-progress-value{
	background-color:#c3ffec;
}
.img_mia{
	padding-right: 50px;

}
.img_mia img{
border-radius: 50px;
width: 100%;
}
#box{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95%;
    height: 100%;
    font-size: 1em;
    flex-wrap: wrap-reverse;
    padding: 50px;
}
.gradient-border {
    background: black;
    position: relative;
    --borderWidth: 5px;
    border-radius: var(--borderWidth);
}
.gradient-border::after{
	content: "";
    position: absolute;
    top: calc(-1*var(--borderWidth));
    left: calc(-1*var(--borderWidth));
    height: calc(100% + var(--borderWidth)*2);
    width: calc(100% + var(--borderWidth)*2);
    background: linear-gradient(60deg,#f79533,#f37055,#ef4e7b,#a166ab,#5073b8,#1098ad,#07b39b,#6fba82);
    border-radius: calc(2*var(--borderWidth));
    z-index: -1;
    animation: animatedgradient 3s ease infinite alternate;
    background-size: 300% 300%;
}

